@import "tailwindcss";

:root {
  --color-primary: #081B55;
   --color-secondary: #05DCFC;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
}

/* বডির স্টাইল */
body {
  font-family: Arial, Helvetica, sans-serif;
}