@import "tailwindcss";

:root {
  --color-primary: #20B149;
  /* --color-secondary: #62408C;
  --color-accent: #EFE2FF;
  --color-background: #221C5A; */
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-accent: var(--color-accent);
}

/* বডির স্টাইল */
body {
  font-family: Arial, Helvetica, sans-serif;
}
