@import "tailwindcss";

:root {
  --color-primary: #20B149;
  --color-footer: #010F22;
  --color-secondary: #05DCFC;
}

@theme inline {

  --color-footer: var(--color-footer);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
}


/* বডির স্টাইল */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* scrool bar color change  */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #20b149;
    border-radius: 30px;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #20B149 #f0f0f0;
}


/* global.css or in style jsx */
@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.custom-spinner {
  animation: rotateInfinite 3s linear infinite;
}